<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div th:switch="${products}">
    <h2 th:case="null">No products!</h2>
    <div th:case="*">
        <h2>Product Catalog</h2>
        <table border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Product description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.product_description}"></td>
                <td><a th:href="@{product-update/{id}(id=${product.id})}">Edit</a></td>
                <td><a th:href="@{product-delete/{id}(id=${product.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/product-create">Add Product</a></p>
    <p><a href="/product-show">Find Product by name</a></p>
</div>
</body>
</html>